<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper #00796b teal darken-2">
                <a routerLink="home" class="brand-logo center">Angular</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a routerLink="home"><i class="material-icons left">home</i>Inicio</a></li>
                    <li><a routerLink="about"><i class="material-icons left">person_add</i>Acerca de</a></li>
                    <li><a routerLink="contact"><i class="material-icons left">contact_mail</i>Contacto</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li><a routerLink="home"><i class="material-icons left">home</i>Inicio</a></li>
        <li><a routerLink="about"><i class="material-icons left">person_add</i>Acerca de</a></li>
        <li><a routerLink="contact"><i class="material-icons left">contact_mail</i>Contacto</a></li>
    </ul>
</header>